.recipe-card-conteiner {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  margin-top: 20px;
  text-align: center;
}

.filter-conteiner {
  display: flex;
  justify-content: space-around;
}

.filter-conteiner button {
  background-color: var(--carmesim);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  margin: 10px;
  text-align: center;
  width: 100px;
}

.fav-list-conteiner {
  display: flex;
  flex-direction: row;
}

.fav-btn-conteiner {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  width: 150px;
}

img {
  border-radius: 100%;
  width: 160px;
}
