.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  padding: 0;
  width: 100%;
}

.container__items {
  cursor: pointer;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
}

span {
  color: #ae2012;
}

@media screen and ( max-width : 360px ) {

  .container__items {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin-bottom: 5px;
    width: auto;
  }
}
