.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100vw;
}

.container__items {
  cursor: pointer;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
}

span {
  color: var(--carmesim);
}

@media screen and ( max-width : 360px ) {

  .container__items {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin-bottom: 50px;
    width: 100%;
  }
}
