.container__recipes {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.container__items {
  cursor: pointer;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
  padding: 50px 0;
  text-align: center;
}

span {
  color: var(--carmesim);
}

@media screen and ( max-width : 360px ) {

  .container__items {
    cursor: pointer;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
    width: 100%;
  }
}
