.header-conteiner {
  display: flex;
}

header {
  align-content: space-between;
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  width: 100%;
}

button {
  background-color: inherit;
  border: none;
}
